@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Registro de Usuarios</title>
    <meta content="Rifas" name="description" />
    <meta content="Selvin" name="author" />
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!--IziToast-->
    <link href="~/Content/izitoast/iziToast.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center m-0">
                    <a href="/dashboard" class="logo logo-admin"><img src="~/images/logo.png" height="30" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Registro Gratis</h4>
                    <p class="text-muted text-center">Obtenga su cuenta gratis ahora</p>

                    <form class="form-horizontal m-t-30">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label for="useremail">Email</label>
                            <input type="email" class="form-control" id="useremail" placeholder="Ingrese su Email">
                            <ul class="parsley-errors-list filled" id="validaciones">
                                <li class="parsley-required" style="display: none" id="emailRequerido">Este campo es requerido</li>
                                <li class="parsley-required" style="display: none" id="emailInvalido">El correo electrónico es inválido</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username">
                            <ul class="parsley-errors-list filled" id="validaciones">
                                <li class="parsley-required" style="display: none" id="usuarioRequerido">Este campo es requerido</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="userpassword">Contraseña</label>
                            <input type="password" class="form-control" id="userpassword" placeholder="Ingrese su contraseña">
                            <ul class="parsley-errors-list filled" id="validaciones">
                                <li class="parsley-required" style="display: none" id="passRequerida">Este campo es requerido</li>
                                <li class="parsley-required" style="display: none" id="pass">Las contraseñas no coinciden</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="userpassword">Repita su contraseña</label>
                            <input type="password" class="form-control" id="userpasswordRepetir" placeholder="Ingrese su contraseña">
                            <ul class="parsley-errors-list filled" id="validaciones">
                                <li class="parsley-required" style="display: none" id="passRepeatRequerida">Este campo es requerido</li>
                                <li class="parsley-required" style="display: none" id="confirmPass">Las contraseñas no coinciden</li>
                            </ul>
                        </div>

                        <div class="form-group row m-t-20">
                            <div class="col-12 text-right">
                                <button class="btn btn-primary w-md waves-effect waves-light" id="btnRegistrar" type="button">Registrar</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p>¿Ya tiene una cuenta? <a href="@Url.Action("Index","Login")" class="text-primary"> Login </a> </p>
            <p>© 2018 Empresa, todos los derechos reservados</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/plugins/iziToast/iziToast.min.js"></script>
    <script src="~/Scripts/app/Genericos.js"></script>
    <script src="~/Scripts/app/seguridad/login.js"></script>
</body>
</html>

