@model IEnumerable<App_SpartansCustom_Rifas.Models.tbCategoriaProductos>

@section styles {
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Select 2-->
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="~/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}
<div class="container-fluid">


    <div class="row">

        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div class="text-right">
                        <button type="button" class="btn btn-success m-b-10 waves-effect" id="Crear">Nuevo</button>
                    </div>
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Descripcion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.cprod_Id</td>
                                    <td>@item.cprod_Descripcion</td>
                                    <td>
                                        <button type="button" id="btnEditar" class="btn btn-primary waves-effect waves-light">Editar</button>
                                        <button type="button" id="btnDetalles" class="btn btn-secondary waves-effect">Detalles</button>
                                        <button type="button" id="btnEliminar" class="btn btn-danger waves-effect waves-light">Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Numero</th>
                                <th>Descripcion</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="modal fade bs-example-modal-center" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Titulo del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form>
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Seleccione la Imagen del Producto</label>
                            <input type="file" class="filestyle" data-buttonname="btn-secondary">
                        </div>

                        <div class="form-group" id="formEditar">
                            <label class="control-label">Select</label>
                            <select class="form-control select2">
                                <option>Select</option>
                                <optgroup label="Honduras">
                                    <option value="01">Cortes</option>
                                    <option value="01">Atlantida</option>
                                </optgroup>
                                <optgroup label="EEUU">
                                    <option value="03">California</option>
                                    <option value="04">Nevada</option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Switch</label> <br />
                            <input type="checkbox" id="switch4" switch="info" checked />
                            <label for="switch4" data-on-label="Si"
                                   data-off-label="No"></label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Numero</label>
                            <input id="demo0" type="text" value="55" name="demo0" data-bts-min="0" data-bts-max="100" data-bts-init-val="" data-bts-step="1" data-bts-decimal="0" data-bts-step-interval="100" data-bts-force-step-divisibility="round" data-bts-step-interval-delay="500" data-bts-prefix="" data-bts-postfix="" data-bts-prefix-extra-class="" data-bts-postfix-extra-class="" data-bts-booster="true" data-bts-boostat="10" data-bts-max-boosted-step="false" data-bts-mousewheel="true" data-bts-button-down-class="btn btn-default" data-bts-button-up-class="btn btn-default" />
                        </div>

                        <div class="form-group">
                            <label>Texto Requerido</label>
                            <input type="text" class="form-control" required placeholder="Type something" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">DatePicker</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div><!-- input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal Editar -->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modalEliminar" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="mySmallModalLabel">¿Desea eliminar este registro?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger waves-effect waves-light">Si</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal eliminar -->

    <div class="modal fade bs-example-modal-center" id="modalCrear" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Titulo del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form method="post" action="CategoriaProductos/Create">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Categoría</label>
                            <input type="text" name="cprod_Descripcion" class="form-control" required placeholder="Escriba la categoría del producto." />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light" onclick="">Guardar</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal Crear -->

    <div class="modal fade bs-example-modal-center" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Titulo del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label col-md-2">Detalles</label>
                        </div>
                        <div class="col-md-6">
                            <span id="tbCatalogoDeIngresos_cin_DescripcionIngreso">hola</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal Crear -->
</div>


@section scripts {
    <!-- Required datatable js -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Buttons examples -->
    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js"></script>

    <!--Select 2-->
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>


    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>
    <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
            $('#datatable').DataTable();

            //Buttons examples
            var table = $('#datatables').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis'],
                language: { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
            });

            table.buttons().container()
                .appendTo('#datatables_wrapper .col-md-6:eq(0)');

            // Select2
            $(".select2").select2(
                {
                    dropdownParent: $('#formEditar'),
                    placeholder: 'Seleccione un empleado',
                    language: {
                        noResults: function () {
                            return 'Resultados no encontrados.';
                        },
                        searching: function () {
                            return 'Buscando...';
                        }
                    }
                }
            );
            $("input[name='demo0']").TouchSpin({
                buttondown_class: 'btn btn-primary',
                buttonup_class: 'btn btn-primary'
            });

            jQuery('#datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });

        $('#datatables tbody tr td #btnEditar').click(function () {
            $('#modalEditar').modal();
        });

        $('#datatables tbody tr td #btnDetalles').click(function () {
            $('#modalDetalles').modal();
        });

        $('#datatables tbody tr td #btnEliminar').click(function () {
            $('#modalEliminar').modal();
        });

        $('#Crear').click(function () {
            $('#modalCrear').modal();
        });


    </script>

    <!-- Datatable init js -->
    <script src="~/Scripts/app/CategoriaProductos.js"></script>
}