@model App_SpartansCustom_Rifas.Models.tbRangos
<!-- VISTA PARCIAL -->
@using (Html.BeginForm(null, null, FormMethod.Post, new { htmlAttributes = new { id = "frmCrearRangos" } }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <label for="rang_Descripcion" class="control-label">Descripcion</label>
        <div class="form-group">
            @Html.EditorFor(model => model.rang_Descripcion, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = true }})
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="btnGuardar" class="btn btn-primary waves-effect waves-light">Guardar</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cerrar</button>
    </div>
}


