<div class="modal fade bs-example-modal-center" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Detalles de Rangos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">Descripcion</label>
                    </div>
                    <div class="col-md-6">
                        <span id="valDescripcion"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">Usuario Crea</label>
                    </div>
                    <div class="col-md-6">
                        <span id="valUsuarioCrea"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">Fecha creación</label>
                    </div>
                    <div class="col-md-6">
                        <span id="valFechaCrea"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">Usuario modifica</label>
                    </div>
                    <div class="col-md-6">
                        <span id="valUsuarioModifica"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">Fecha modificación</label>
                    </div>
                    <div class="col-md-6">
                        <span id="valFechaModifica"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>