<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="ModalInhabilitar" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="mySmallModalLabel">Inactivar Rangos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>¿Seguro que desea inhabilitar el resgitro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect m-l-5" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger waves-effect waves-light" id="btnConfirmarModalInhabilitar">Si</button>
            </div>
        </div>
    </div>
</div>