@section styles{
    <link href="~/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />
}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <div id='calendar'></div>

                    <div style='clear:both'></div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end container-fluid -->

@section scripts{
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <script src="~/Scripts/pages/calendar-init.js"></script>
}